@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

body {
  position: relative;
  background-image: url("./images/money.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "IM Fell English SC";
}

.bar:hover {
  fill: transparent;
}

h1 {
  margin-left: 50px;
}

#tooltip {
  position: absolute;
  left: 200px;
  top: 200px;
  font-size: 50px;
}
